* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1e293b;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;

}

h1 {
    font-size: 2rem;
    text-align: center;
}

.user-container {

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container {
    display: flex;
    justify-content: space-between;
}

#user-input {
    width: 70%;
    padding: 0.4rem;
    border-radius: 5px;
}

#search-btn {
    padding: 0.4rem;
    border-radius: 5px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #299f5d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    font-weight: 700;

    flex-direction: column;
    border: 4px solid #22c55e;
    background: conic-gradient(#22c55e var(--progress-degree, 0%),
            #020617 0%);

}


.circle:hover {
    transform: translateY(-6px) translatez(3px) scale(1.02);
    transition: 0.3s ease;
}

.circle span {
    position: relative;
    z-index: 2;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stats-container {
    display: none;
}

.stats-card {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;
    align-items: center;




}


h4 {
    font-size: 1rem;

}

.card {
    background: linear-gradient(145deg, #564f22, #295020);
    box-shadow: 6px 6px 12px #0b1220,
        -6px -6px 12px #274943;
    color: #e5e7eb;
    width: 200px;
    max-width: 290px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;

}

.card:hover {
    transform: translateY(-6px) scale(1.02);
    transition: 0.3s ease;
}